<html>
    <head><title>MyPage</title></head>
    <body>
        {% set name = "watasu" %}
        {% if name=="watasu" %}
        Hi {{name}}
        {% end %}
        {#
            comment block is ignored
            {#
                comment block can be nested
            #}
        #}
        {% raw %}
        This is the test for raw block
        {% you can write block inside of raw %}
        {# comment block is also ignored #}
        {{ and the expression block is also ignored }}
        {% endraw %}
        {% for i in 1 : 10 %}
        {% if i < 4 %}
        {{i}} is smaller than 4
        {% elseif i < 8 %}
        {{i}} is bigger than 3 and smaller than 8
        {% else %}
        {{i}} is bigger than 7
        {% end %}
        {% end %}
        {% let age = 15, weight = 40 %}
        and your age is {{ age }}. my weight is {{ weight }}.
        {% end %}
    </body>
</html>